* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.profile {
  width: 15vw;
  height: 150px;
  background-color: grey;
}
.element {
  text-decoration: none;
  color: white;
  width: 10vw;
  height: 8vh;
  background-color: #27a79c;
  text-align: center;
}
.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 16vw;
  height: 62vh;
  background-color: #27a79c;
  align-items: center;
}
.bg {
  width: 62vw;
  height: 62vh;
  margin-left: 16vw;
  z-index: 1;
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  background-repeat: round;
}
.icon {
  vertical-align: sub;
}
.navContainer > a:hover {
  width: 100%;
  background-color: #1abc9c;
}
.title {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  float: right;
  width: 22vw;
  height: 62vh;
  position: absolute;
  right: 0vw;
  top: 0;
  text-align: center;
  color: white;
  padding: 2rem 0 2rem 0;
}
.clear {
  clear: both;
}
.webQuote {
  margin: 1rem;
  font-size: 20pt;
  text-shadow: black;
}
.info {
  margin-top: 7rem;
  font-size: 14pt;
  text-justify: auto;
}
.col-3 {
  width: 100%;
  float: left;
  padding: 12px;
}

.col-3 img {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .col-3 {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .col-3 {
    width: 33.333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-3 {
    width: 16.666%;
  }
}
.arrival {
  border-bottom: 3px solid red;
  padding: 3px;
}
.arrival > .material-icons {
  vertical-align: bottom;
}
.arrival > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
