* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 5px;
}
.header {
  background: linear-gradient(rgba(254, 255, 254, 0.1), rgba(39, 36, 36, 0.9)),
    url(/assets/logo1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 45vh;
  position: relative;
}
.quote {
  position: absolute;
  padding-top: 70px;
  padding-left: 50px;
}
.quote > #person {
  margin-left: 100px;
}
#subNav {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
  border-left: 3px solid rgb(24, 21, 21);
  height: 100%;
}

.nav {
  background-color: rgb(241, 74, 74);
  margin-top: 5px;
}
li:hover a {
  color: teal;
}

.icon {
  vertical-align: sub;
  margin-right: 5px;
}

.books {
  display: grid;
  grid-template-columns: 15% 0.5% 84.5%;
  height: 68vh;
}

.books > .booksCat {
  background: rgb(215, 100, 87);
  background: linear-gradient(
    0deg,
    rgba(215, 100, 87, 1) 0%,
    rgba(235, 198, 198, 1) 100%
  );
  margin-top: 5px;
}

.other {
  display: grid;
  grid-template-rows: auto;
}
.booksCat a {
  display: block;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px dotted black;
  color: black;
}
.booksCat a:hover {
  background-color: #faafba;
}
.booksCat a:active {
  color: white;
}
.picture > .pic {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.pic {
  width: 100%;
  height: 100%;
}

.pic > .hi > a img {
  width: 70%;
  /* height: 75%; */
  /* margin-top: 15px; */
}

.arrival {
  width: 100%;
  margin-top: 10px;
  margin-left: 5px;
  border-bottom: 5px solid red;
}

.textArrival {
  font-size: 20px;
}

.arrival > .material-icons {
  vertical-align: sub;
}
.hi {
  padding: 5px;
}
.hi > input {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: aqua;
  padding: 5px;
  margin-left: 10px;
}
.header > #search {
  margin-top: 280px;
  margin-left: 5px;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid cyan;
  outline: none;
  padding-left: 3px;
}
