* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.profile {
  width: 15vw;
  height: 150px;
  background-color: grey;
}
.element {
  text-decoration: none;
  color: white;
  width: 10vw;
  height: 8vh;
  background-color: #27a79c;
  text-align: left;
  padding: 0.5rem;
}
.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 16vw;
  height: 62vh;
  background-color: white;
  align-items: flex-start;
}
.bg {
  width: 68vw;
  height: 62vh;
  margin-left: 10vw;
  z-index: 1;
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  background-repeat: round;
}
.searchicon {
  color: white;
  font-size: 30pt;
  position: absolute;
  bottom: 17.2rem;
  left: 2rem;
}
.search > .searchinput {
  width: 22rem;
  height: 3rem;
  position: absolute;
  left: 5rem;
  bottom: 17rem;
  padding: 1rem;
  border: 5px solid #27a79c;
  border-radius: 8px;
  outline: none;
}
.icon {
  vertical-align: sub;
}
.bookquote {
  display: inline-block;
  width: 33rem;
  position: absolute;
  color: white;
  font-size: 18pt;
  bottom: 7rem;
  left: 1.5rem;
  text-align: center;
}
.stress {
  color: cyan;
}
.bookquoteAuthur {
  position: absolute;
  color: white;
  font-size: 18pt;
  bottom: 4rem;
  left: 25rem;
  font-style: italic;
}
.navContainer > a:hover {
  width: 100%;
  background-color: #1abc9c;
}
.title {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  float: right;
  width: 22vw;
  height: 62vh;
  position: absolute;
  right: 0vw;
  top: 0;
  text-align: center;
  color: white;
  padding: 2rem 0 2rem 0;
  overflow: hidden;
}
.clear {
  clear: both;
}
.webQuote {
  margin: 1rem;
  font-size: 20pt;
  text-shadow: black;
}
.title > .info {
  margin-top: 7rem;
  font-size: 13pt;
  padding: 1rem;
}
.col-3 {
  width: 100%;
  float: left;
  padding: 12px;
}

.col-3 img {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .col-3 {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .col-3 {
    width: 33.333%;
  }
}

@media only screen and (min-width: 992px) {
  .col-3 {
    width: 16.666%;
  }
}
.arrival {
  border-bottom: 3px solid red;
  padding: 3px;
}
.arrival > .material-icons {
  vertical-align: bottom;
}
.arrival > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
